backcall==0.1.0
decorator==4.4.1
entrypoints==0.3
flake8==3.7.9
ipython==7.10.2
ipython-genutils==0.2.0
jedi==0.15.1
mccabe==0.6.1
parso==0.5.2
pexpect==4.7.0
pickleshare==0.7.5
prompt-toolkit==3.0.2
ptyprocess==0.6.0
pycodestyle==2.5.0
pyflakes==2.1.1
Pygments==2.5.2
six==1.13.0
traitlets==4.3.3
wcwidth==0.1.7
